/* IMPORTACION DE FUENTES */
@font-face {
    font-family: CabinBold;
    src: url(/resources/fonts/cabin_bold.ttf);
}
@font-face {
    font-family: CabinMedium;
    src: url(/resources/fonts/cabin_medium.ttf);
}
@font-face {
    font-family: CabinRegular;
    src: url(/resources/fonts/cabin_regular.ttf);
}
@font-face {
    font-family: CabinSemiBold;
    src: url(/resources/fonts/cabin_semibold.ttf);
}

// Estilos de los svg divisores
.main-banner__divider, .banner__divider {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.main-banner__divider {
    transform: rotate(180deg);
}

.main-banner__divider svg, .banner__divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
}
.main-banner__divider svg {
    height: 135px;
}
.banner__divider svg {
    height: 75px;
    transform: rotateY(180deg);
}

.shape-fill {
    fill: #FFFFFF;
}

@media (max-width: 767px) {
    .main-banner__divider svg, .banner__divider svg {
        width: calc(100% + 1.3px);
    }
    .main-banner__divider svg {
        height: 75px;
    }
    .banner__divider svg {
        height: 60px;
    }
}


$colors: (
    yaleBlue: #134B7C,
    spanishBlue: #1E73BE,
    eerieBlack: #222222
);

$size: (
    slogan: clamp(2.4em, 5vw, 3.6em),
    title: clamp(1.8em, 4vw, 2.7em),
    icons: clamp(1.4em, 4vw, 2.5em),
    subtitle: clamp(1.5em, 3vw, 1.9em),
    description: clamp(1em, 2.8vw, 1.3em),
    blogContent: clamp(1em, 2vw, 1.2em),
);

/* Se establece cabin regular como familia de fuente general */
body {
    font-family: CabinRegular;
    scroll-behavior: smooth;
    user-select: none;
}

html {
    --default-img-height: 23rem;
}
@media (min-width: 1024px) {
    html {
        --default-img-height: 25rem;
    }
}

/* FUNCIONES */

@mixin margins {
    padding: 0 20px;
    max-width: 1500px;
}

@mixin flex($justify, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

@mixin links($color) {
    text-decoration: none;
    display: block;
    color: map-get($colors, $color);
}



/* CLASES GENERALES */
.icon {
    font-size: map-get($size, icons);
}

button {
    &:active {
        transform: scale(.9);
    }
}


.agent__divisor {
    display: block;
    width: 85%;
    margin: 0;
    border-color: black;
    margin-top: .3rem;
    margin-bottom: .3rem;
}

@keyframes unvanish {
    to {
        opacity: 1;
    }
}

@keyframes vanish {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes mover {
    to {
        padding-left: 1.3rem;
    }
}

// Estilos al mensaje de error de la pagina 404
.error {
    @include margins;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.error__container {
    padding: 1rem;
    max-width: 400px;
    border-radius: 5px;
    background: map-get($colors, yaleBlue);
    color: white;
    animation: animacionError 2s ease 0s 1 normal forwards;
}
.error__descripcion {
    font-size: map-get($size, description);
}
.error__link {
  color: inherit;
}
@keyframes animacionError {

    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
      }

      10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
      }

      17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
      }

      33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
      }

      45% {
        animation-timing-function: ease-out;
        transform: scale(1);
      }
}

// Estilos a los slider utilizados en diversas paginas
.slider-container {
    position: relative;
    overflow: hidden;

    min-height: 25rem;
    max-width: 1250px;

    margin-bottom: 1em;
    border: 3px solid map-get($colors, yaleBlue);
    border-radius: 5px;
    
    @media (min-width: 1250px) {
        flex: 4;
    }
}
.slider {
    display: flex;
    width: 400%;
    margin-left: -100%;
}
.slider__section {
    width: 100%;
}
.slider__img {
    object-fit: cover;
    min-height: 25rem;
    max-height: 40rem;
    width: 100%;
    height: 100%;
}
.slider__buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.slider__btn {
    border: none;
    background-color: map-get($colors, yaleBlue);
    padding: .8em;
    color: white;
    border-radius: 5px;
    cursor: pointer;

    transition: opacity 250ms ease-in-out;
    opacity: .6;
    &:hover {
        opacity: 1;
    }
}
.slider__icon {
    font-size: map-get($size, subtitle);
    pointer-events: none;
}



// Estilos sub barra de navegacion en la pagina de propiedades y contacto
.contact__section, .properties__section {
    @include margins;
    margin: 3rem auto;
}
.contact__navbar, .properties__navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contact__btn, .properties__btn {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: map-get($size, description);
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    color: map-get($colors, yaleBlue);
    font-family: CabinBold;
}
.contact__btn--active, .properties__btn--active {
    color: white;
    background-color: map-get($colors, yaleBlue);
}
.contact__divisor, .properties__divisor {
    display: block;
    width: 100%;
    background-color: map-get($colors, yaleBlue);
    height: 2px;
    border: none;
}
.propertiesbycategory {
    display: block;
}


/* IMPORTACION DE COMPONENTES */
@import "components/secciones_inicio/agentes";
@import "components/secciones_inicio/blogs";
@import "components/secciones_inicio/encuestas";
@import "components/secciones_inicio/necesidades";
@import "components/secciones_inicio/proyectos";
@import "components/secciones_inicio/propiedades";
@import "components/secciones_inicio/seccionesindex";
@import "components/secciones_inicio/categoriaspropiedad";
@import "components/secciones_inicio/cotizador";

@import "components/paginas_individuales/contactanos";
@import "components/paginas_individuales/cotizador";
@import "components/paginas_individuales/propiedad";
@import "components/paginas_individuales/propiedades";
@import "components/paginas_individuales/politicas";
@import "components/paginas_individuales/proyectos";

@import "components/todas_paginas/cabecera";
@import "components/todas_paginas/piepagina";
@import "components/todas_paginas/emailpopup";
@import "components/todas_paginas/cookies";
@import "components/todas_paginas/pantallacarga";
@import "components/todas_paginas/normalize";

.d-none {
    display: none;
}