.popup {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    z-index: 500;

    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 20px;
}

.popup__info {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.popup__img {
    --dimensions: clamp(100px, 15vw, 130px);
    width: var(--dimensions);
    height: var(--dimensions);
}

.popup__container {
    background: white;
    max-width: 480px;
    padding: 1rem;
}

@keyframes emailEntrance {
    0% {
        transform: scale(0);
    }
    
    100% {
        transform: scale(1);
    }
}

.popup__description {
    font-size: map-get($size, description);
    margin-bottom: .8rem;
}

.popup__btns {
    display: flex;
    justify-content: flex-end;
}

.popup__btn {
    padding: 0.5rem 1rem;
    background: none;
    text-decoration: none;
    background: map-get($colors, yaleBlue);
    color: white;
}