.agents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    @media (min-width: 1240px) {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
    .agent__image {
        position: relative;
    }
    .agent__img {
        object-fit: cover;
        height: 22rem;
        @media (min-width: 1024px) {
            height: 25rem;
        }
    }
    .agent:hover .agent__img {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .agent__info {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.48);
        padding: 0.5rem 0 1rem;
    }
    .agent__name {
        width: 100%;
        text-align: center;
        display: inline-block;
        padding: 1rem;
        color: white;
        text-align: center;
        font-size: map-get($size, subtitle);
        font-family: josefin-semibold;
    }
    .agent__links {
        background-color: map-get($colors, yaleBlue);
        width: 60%;
        margin: 0 auto;
        transform: translateY(-1rem);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: .5rem 1.5rem;
    }
    .agent__link {
        @include links(white);
        color: white;
        transition: all 250ms ease-in-out;
        &:hover {
            transform: scale(1.3);
        }
    }
    .icon {
        font-size: map-get($size, subtitle);
    }
}