.blogs {
    @include margins;
    margin: 3rem auto;
}

.blogs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    @media (min-width: 1240px) {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
    margin-bottom: 3rem;
}

.blog {
    position: relative;
    cursor: pointer;
    &:hover > .blog__img {
        filter: brightness(.6);
    }
}

// .blogs-index .blog {
//     opacity: 0;
// }

.blog__img {
    transition: filter 500ms ease;
    filter: brightness(.4);
    height: 100%;
    height: var(--default-img-height);
    object-fit: cover;
    pointer-events: none;
}

.blog__title {
    position: absolute;
    bottom: .5rem;
    padding-inline-start: .5rem;
    padding-inline-end: .5rem;
    width: 100%;
    color: white;
    font-size: map-get($size, subtitle);
    pointer-events: none;
}


.blog__content {
    @include margins;
    margin-block: 1rem;
    margin-inline: auto;
    .content {
        margin-block: 1.5rem;
    }
    .content ul {
        list-style-position: inside;
    }
    .content * {
        font-family: CabinRegular;
    }
}
