.categories {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 6rem);
    gap: 1rem;
    margin-bottom: 3rem;    
}

.category {
    position: relative;
    cursor: pointer;
    &:hover > .category__img {
        filter: brightness(.6);
    }
}
.category:first-child {
    grid-column: 1 / 9;
    grid-row: 1 / 4;
}

.category:nth-child(2) {
    grid-column: 1 / 5;
    grid-row: 4 / 6;
}

.category:nth-child(3) {
    grid-column: 5 / 9;
    grid-row: 4 / 6;
}

.category:last-child {
    grid-column: 1 / 9;
    grid-row: 6 / 9;
}

@media (min-width: 1024px) {
    .categories {
        grid-template-rows: repeat(6, 6rem);
    }

    .category:first-child {
        grid-column: 1 / 5;
        grid-row: 1 / 4;
    }

    .category:nth-child(2) {
        grid-column: 1 / 5;
        grid-row: 4 / 7;
    }

    .category:nth-child(3) {
        grid-column: 5 / 7;
        grid-row: 1 / 7;
    }

    .category:last-child {
        grid-column: 7 / 9;
        grid-row: 1 / 7;
    }
}

.category__img {
    transition: filter 500ms ease;
    filter: brightness(.4);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.category__title {
    position: absolute;
    color: white;
    left: 0;
    bottom: 0;
    padding: 0.7rem;
    font-size: map-get($size, subtitle);
}