.exchange {
    display: none;
    text-align: right;
    font-size: map-get($size, description);
    font-weight: bold;
    margin-bottom: 1em;
}

.section-budget {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('/img/budgetcalculation.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40vh;
    
    @media (min-width: 1024px) {
        min-height: 60vh;
    }
}

.budget {
    @include margins;
    margin: auto;
    width: 100%;
}

.budget__title {
    font-size: map-get($size, title);
    margin-bottom: .5rem;
}
.budget__description {
    margin-bottom: 2rem;
    max-width: 768px;
}
.budget__description, .budget__link {
    font-size: map-get($size, description);
}

.budget__link {
    text-decoration: none;
    background: map-get($colors, yaleBlue);
    color: white;
    text-align: center;

    display: inline-block;
    width: 100%;
    padding: 0.5em;
    
    @media (min-width: 450px) {
        max-width: 400px;
    }

    position: relative;
    z-index: 1;

    --btn-dimensions: 1px;
    overflow: hidden;

    &:after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: var(--btn-dimensions);
        height: var(--btn-dimensions);
        border-radius: 50%;
        z-index: -1;
        background-color: map-get($colors, spanishBlue);
        transition: width 500ms ease-in-out,
        height 500ms ease-in-out;
    }

    &:hover::after {
        --btn-dimensions: 200px;
    }
}

.form-projects-container {
    @include margins;
    margin: 2rem auto;
}

.form-projects {
    font-size: map-get($size, description);
}

.form-projects-title {
    font-size: map-get($size, subtitle);
}

.form-projects__fieldset {
    border-left: 10px solid map-get($colors , yaleBlue);
    margin-bottom: 1.5em;
    padding-left: .5em;
    border-radius: 5px;
    border-color: map-get($colors, yaleBlue);
}

.form-projects__label {
    display: block;
    margin-bottom: .3em;
}

.form-projects__input {
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: none;

    
    border: 1px solid;
    padding: .3em;
    margin-bottom: 0.8em;
    min-width: 240px;
    @media (max-width: 600px) {
        width: 100%;
    }
}

.form-projects__section {
    @media (min-width: 600px) {
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

.form-projects__button {
    width: 100%;
    padding: .5em;
    margin-bottom: 2em;
    text-align: center;
    outline: none;
    border: 2px solid map-get($colors, yaleBlue);
    border-radius: 5px;
    transition: all 200ms ease;
    background-color: white;
    color: map-get($colors, yaleBlue);
    &:hover {
        color: white;
        background-color: map-get($colors, yaleBlue);
    }
    &:active {
        transform: scale(.95);
    }
    @media (min-width: 500px) {
        max-width: 300px;
        display: block;
        margin-left: auto;
    }
}

.form-projects__message--error {
    margin-bottom: 1em;
    text-align: left;
    color: rgb(129, 3, 3);
}

.form-projects__title {
    font-size: map-get($size, title);
    margin-bottom: 1rem;
}

.form-projects__agents {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 1rem;
    }
}

.form-projects__agents {
    display: grid;
    gap: 1em;

    @media (max-width: 400px) {
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }
    
    @media (min-width: 400px) and (max-width: 1300px) {
        grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    }

    @media (min-width: 1300px) {
        grid-template-columns: repeat(auto-fit, minmax(360px,1fr));
    }

    

    .agent--fp {
        max-width: 600px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        background-color: white;
        border-right: 10px solid map-get($colors, yaleBlue);
        border-radius: 5px;
    }
    
    .agent__image-container {
        grid-column: 1 / 3;
        height: 80px;
        margin: 0;
        overflow: hidden;
        @media (min-width: 350px) {
            height: 110px;
        }
    }
    .agent__image {
        --ratio: 80px;
        margin: auto;
        object-fit: cover;
        width: var(--ratio);
        height: var(--ratio);
        @media (min-width: 350px) {
            --ratio: 110px;
        }
    }
    .agent__info {
        grid-column: 3 / 8;
        margin-left: .5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .agent__name {
        font-size: map-get($size, description);
    }
    .agent__role {
        color: map-get($colors, eerieBlack);
    }
    .agent__number, .agent__mail {
        text-decoration: none;
        color: map-get($colors, yaleBlue);
        &:hover {
            text-decoration: underline;
        }
    }
}

// .agent--fp {
//     display: grid;
//     grid-template-columns: 80px 1fr;
//     align-items: center;
//     gap: 0.8em;

//     @media (max-width: 768px) {
//         margin-bottom: 1rem;
//     }

//     @media (min-width: 500px) {
//         grid-template-columns: 130px 1fr;
//         gap: 1.2rem;
//     }
//     border-right: 10px solid map-get($colors, yaleBlue);
//     border-radius: 5px;
//     padding: 0.5rem;
//     .agent__info {
//         display: flex;
//         flex-direction: column;
//         font-size: map-get($size, description);
//         text-decoration: none;
//     }

//     .agent__number, .agent__mail {
//         text-decoration: inherit;
//     }

//     .agent__image {
//         --dimensions: 80px;
//         @media (min-width: 500px) {
//             --dimensions: 130px;
//         }

//         width: var(--dimensions);
//         height: var(--dimensions);
//         object-fit: cover;
//     }
// }




.projects__project {
    margin-bottom: 2rem;
}

.project__option {
    margin-bottom: 1rem;
    border-radius: 5px;
    border-left: 10px solid map-get($colors, yaleBlue);
    padding-left: .5em;
}

.form-projects__projects {
    font-size: map-get($size, description);
}

summary {
    cursor: pointer;
}

.option__title {
    font-size: map-get($size, description);
    margin-bottom: .5rem;
}

.option__categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    @media (min-width: 450px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.category__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .3rem;
}

.line__price {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__location {
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
}

.line__format {
    font-weight: bold;
}