.moreaboutproperty {
    @include margins;
    margin: 3rem auto;
    .moreaboutproperty__info {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        margin-bottom: 2rem;
    }
    .moreaboutproperty__related > h2 {
        font-size: map-get($size, subtitle);
        margin-bottom: .5rem;
    }
    .property__details {
        grid-column: 1 / 6;
        @media (min-width: 1150px) {
            grid-column: 1 / 4;
        }
        @media (max-width: 1150px) {
            margin-bottom: 1rem;
        }

        .property__price-status {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: .5em;
        }

        .property__status {
            font-family: josefin-bold;
            font-size: map-get($size, description);
            color: map-get($colors, yaleBlue);
        }

        .property__info {
            margin-bottom: .5em;
            line-height: 1.4em;
            font-size: map-get($size, description);
        }

        .property__characteristics {
            margin-bottom: 1rem;
            padding: 0.8em;
            box-shadow: 0 0 3px;
            border-radius: 3px;
        }
        .more__list {
            list-style-type: none;
            display: grid;
            gap: .3em;
            @media (min-width: 500px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        .item__icon {
            margin-right: .4em;
            transform: scale(1.2);
        }
        .more__item {
            font-size: map-get($size, description);
        }

        
        .property__totalcost, .property__price {
            font-family: josefin-semibold;
            font-size: map-get($size, subtitle);
            border-left: 4px solid map-get($colors, yaleBlue);
            padding-left: .4rem;
        }

        .property__totalcost {
            margin-bottom: 1rem;
        }

        .property__video{
            position: relative;
            height: 0;
            width: 100%;
            padding-bottom: 56.25%;
            margin-bottom: 1rem; 
        }
        .property__video iframe{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        
        .property__map {
            width: 100%;
            height: 300px;
            border: none;
            border-radius: 5px;
            @media (min-width: 768px) {
                height: 500px;
            }
        }
    }
    
    .property__agents {
        grid-column: 1 / 6;
        @media (min-width: 1150px) {
            grid-column: 4 / 6;
        }
        
        @media (max-width: 1150px) {
            display: grid;
            gap: .5em;
        }

        @media (max-width: 400px) {
            grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        }
        
        @media (min-width: 400px) and (max-width: 1150px) {
            grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
        }

        .agent {
            max-width: 600px;
            @media (min-width: 1150px) {
                margin-bottom: 1em;
            }
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            background-color: white;
            border-right: 10px solid map-get($colors, yaleBlue);
            border-radius: 5px;
        }
        .agent__image-container {
            grid-column: 1 / 3;
            height: 80px;
            margin: 0;
            overflow: hidden;
            @media (min-width: 350px) {
                height: 110px;
            }
        }
        .agent__image {
            --ratio: 80px;
            margin: auto;
            object-fit: cover;
            width: var(--ratio);
            height: var(--ratio);
            @media (min-width: 350px) {
                --ratio: 110px;
            }
        }
        .agent__info {
            grid-column: 3 / 8;
            margin-left: .5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .agent__name {
            font-size: map-get($size, description);
        }
        .agent__role {
            color: map-get($colors, eerieBlack);
        }
        .agent__number, .agent__mail {
            text-decoration: none;
            color: map-get($colors, yaleBlue);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

